* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}

button,
input {
  background: none;
  border: none;
}
button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}
button:active,
input:active {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Cinzel";
  src: url("../Fonts/Cinzel-Regular.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../Fonts/Lexend-Regular.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poiret One";
  src: url("../Fonts/PoiretOne-Regular.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  position: relative;
}

header {
  background-color: #78d696;
  padding: 30px 20px;
  display: flex;
}
header nav {
  flex-grow: 1;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
header nav a {
  color: #000;
  font-family: "Cinzel";
  font-weight: bold;
}
header nav a:hover {
  color: #BE4C13;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header .burger-btn {
  display: none;
}
@media (min-width: 992px) {
  header .close-burger {
    display: none;
  }
}
@media (max-width: 991.98px) {
  header {
    background-color: #fab6d9;
    justify-content: space-between;
  }
  header nav {
    display: none;
    position: fixed;
    top: 0;
    flex-direction: column;
    height: 100dvh;
    background-color: #fab6d9;
    opacity: 0.9;
    right: 0;
    justify-content: center;
    max-width: 30%;
    width: 100%;
    z-index: 15;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.75s cubic-bezier(0.19, 0.43, 0.37, 1);
  }
  header .close-burger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 35px 20px;
  }
  header .js-nav {
    display: flex;
    transform: scaleX(1);
    transition: transform 0.75s cubic-bezier(0.19, 0.43, 0.37, 1);
  }
  header .burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  header {
    background-color: #fab6d9;
  }
}

.overlay {
  display: none;
}
@media (max-width: 991.98px) {
  .overlay {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #105c2d;
    z-index: 12;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }
}
.overlay.js-overlay {
  opacity: 0.7;
  transition: opacity 0.75s ease-in-out;
}

main {
  padding: 20px 40px;
  position: relative;
}
main .main-top .breadcrumbs ul {
  display: flex;
  list-style: none;
}
main .main-top .breadcrumbs ul li:not(:last-of-type):after {
  content: "/";
  margin: 5px 5px;
}
main .main-top .breadcrumbs ul li a {
  color: #BE4C13;
  font-family: "Cinzel";
  font-weight: 700;
  position: relative;
}
main .main-top .breadcrumbs ul li a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #BE4C13;
  transform-origin: left;
  transition: transform 0.75s ease-in-out;
  transform: scale(0);
}
main .main-top .breadcrumbs ul li a:hover::before {
  transform: scale(1);
  transition: transform 0.75s ease-in-out;
  transform-origin: right;
}
main .main-top .breadcrumbs ul span {
  color: #105c2d;
  font-family: "Cinzel";
  font-weight: 900;
}
main .main-top h1 {
  font-family: "Cinzel";
  font-size: 25px;
  color: #000;
  margin: 10px auto;
  width: fit-content;
}
main .main-top .top-cold-content {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .main-top .top-cold-content .cc-container {
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 18px;
  max-width: 80%;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  height: 45px;
  max-height: 45px;
  -webkit-box-orient: vertical;
  position: relative;
  transition: all 0.75s ease-in-out;
}
main .main-top .top-cold-content .cc-container::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  height: 100%;
  background: #78D696;
  background: radial-gradient(circle, rgba(120, 214, 150, 0.67) 0%, rgba(250, 182, 217, 0) 100%);
}
main .main-top .top-cold-content .cc-container.expanded {
  -webkit-line-clamp: unset;
  height: auto;
  max-height: 217px;
  transition: all 0.75s ease-in-out;
}
main .main-top .top-cold-content .cc-container::after {
  opacity: 60%;
}
main .main-top .top-cold-content .read-more-btn {
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 500;
  color: #BE4C13;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
  transition: color 0.75s ease-in-out;
}
main .main-top .top-cold-content .read-more-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #b5318d;
  transform-origin: left;
  transition: transform 0.75s ease-in-out;
  transform: scale(0);
  z-index: 1;
}
main .main-top .top-cold-content .read-more-btn .read-more {
  z-index: 2;
  position: relative;
}
main .main-top .top-cold-content .read-more-btn:hover {
  color: #b5318d;
  transition: color 0.75s ease-in-out;
}
main .main-top .top-cold-content .read-more-btn:hover::before {
  transform: scale(1);
  transition: transform 0.75s ease-in-out;
  transform-origin: right;
}
main .js-none {
  display: none !important;
}
main .filters-top {
  font-family: "Lexend";
  font-size: 17px;
  text-transform: uppercase;
  color: #105c2d;
}
main .filters .filters-container .filter-box .filters-title {
  font-family: "Lexend";
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .filters .filters-container .filter-box .filters-title img {
  transform: rotate(0);
  transition: transform 0.5s ease-in-out;
}
main .filters .filters-container .filter-box .filters-title.js-filters-title img {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
main .filters .filters-container .filter-box .filters-list {
  font-family: "Cinzel";
  font-size: 14px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 300px;
  height: auto;
  transition: max-height 0.5s ease-in-out;
}
main .filters .filters-container .filter-box .filters-list.js-filters-list {
  height: 0;
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
main .filters .filters-container .filter-box .view-all-FI {
  font-family: "Cinzel";
  font-size: 13px;
  display: block;
  cursor: pointer;
}
main .filters .filters-container .filter-box .view-all-FI:hover {
  color: #105c2d;
  text-decoration: underline;
}
main .filters .filters-container .filter-box.custom-checkbox .filters-item .checkbox-label {
  position: relative;
  padding-left: 21px;
  display: flex;
  align-items: center;
}
main .filters .filters-container .filter-box.custom-checkbox .filters-item input {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  left: 0;
  cursor: pointer;
}
main .filters .filters-container .filter-box.custom-checkbox .filters-item input::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border: 1px solid #105c2d;
  border-radius: 5px;
  margin-top: -1px;
  position: relative;
  z-index: 3;
}
main .filters .filters-container .filter-box.custom-checkbox .filters-item input:checked::before {
  background-color: #78d696;
}
main .filters .filters-container .filter-box.custom-checkbox .filters-item input:checked::after {
  content: url(../Images/Check.svg);
  width: 18px;
  height: 18px;
  display: block;
  z-index: 4;
  position: absolute;
  top: -4px;
  left: -2px;
}
main .filters .filters-container .view-all-filters {
  font-family: "Cinzel";
  font-size: 13px;
  cursor: pointer;
  margin-top: 3px;
}
main .filters .filters-container .view-all-filters .all-filters {
  border-style: outset;
  border-width: 1px;
  border-color: #b5318d;
  border-radius: 5px;
  line-height: 15px;
}
main .filters .filters-container .view-all-filters .all-filters:hover {
  color: #b5318d;
}
main .main-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-bottom .bottom-cold-content {
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 991.98px) {
  main .main-bottom {
    font-size: 16px;
  }
}

footer {
  padding: 20px;
  display: flex;
  background-color: #fab6d9;
  justify-content: space-between;
  align-items: center;
  font-family: "Cinzel";
}
footer .footer-links-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 70%;
}
footer .footer-links-container .links-title {
  margin-bottom: 15px;
  display: block;
  color: #105c2d;
  text-transform: uppercase;
  font-size: 15px;
}
footer .footer-links-container ul {
  list-style: none;
}
footer .footer-links-container ul li {
  padding-bottom: 10px;
}
footer .footer-links-container ul li a {
  color: #b5318d;
  font-size: 14px;
}
footer .footer-links-container ul li a:hover {
  color: #fff;
  transition: 0.75s ease-in-out;
}
@media (max-width: 991.98px) {
  footer {
    background-color: #78d696;
  }
}

.js-filter-box {
  height: 30px;
  overflow-y: hidden;
}/*# sourceMappingURL=main.css.map */