*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
}

button, 
input {
    background: none;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        outline: none;
        box-shadow: none;
    }
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}